@forward "./styles/base";
@forward "./styles/theme";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: 'Epilogue', sans-serif;
}

body {
  overflow-anchor: none;
}