$green-700: rgb(23, 54, 44);
$green-600: rgb(72, 170, 137);
$green-500: rgb(45, 105, 85);
$green-400: rgb(124, 139, 94);

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(0, 0, 255);
$red: rgb(255, 0, 0);
$purple: rgb(255, 0, 255);
$yellow: rgb(255, 255, 0);