$brand-primary: #0070f3;
$brand-primary-dark: #0064e1;
$brand-primary-light: #00a0f3;
$brand-secondary: #f5f5f5;
$brand-secondary-dark: #e5e5e5;
$brand-secondary-light: #fafafa;
$brand-success: #00b300;
$brand-success-dark: #009900;
$brand-success-light: #00e600;
$brand-warning: #f0a000;
$brand-warning-dark: #e09000;
$brand-warning-light: #f0d000;
$brand-danger: #ff0000;
$brand-danger-dark: #cc0000;
$brand-danger-light: #ff0000;